body 
  {
      z-index: 1;
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
  }

  .header 
  {
      background-color: #333;
      color: white; 
      padding: 10px 0;
  }

  .header1 
  {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      max-width: 1200px; 
      margin: 0 auto; 
      padding: 0 20px; 
  }
  .book-result {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
  }

  .book-result img {
    height: 60px;
    width: auto;
    border-radius: 5px;
  }

  .book-result h3 {
    font-size: 16px;
    margin: 0;
  }

  .search-box {
    padding: 8px;
    padding-right: 40px; 
    border: none;
    border-radius: 4px;
    width: 100%; 
    height: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    box-sizing: border-box; 
}

.search-icon {
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%); 
    padding: 0;
    border: none;
    background: transparent;
    color: #ff5a5f;
    font-size: large;
    cursor: pointer; 
    height: 24px; 
}


.search-icon :hover
{
    color: #ff3b3f;
    cursor: pointer;
}

.header2
{
    margin-top: 20px;
    margin-left: 150px;
}
.navbar
{
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center; 
    gap: 20px;
}

.navbar a
{
    color: #ffffff;
    text-decoration: none; 
    font-size: 18px; 
    padding: 10px 15px;
}
.navbar .icons{
    text-decoration: none;
    color: #ffffff;
    font-size: 18px; 
  }

.navbar button{
  background-color: #333;
}
.navbar a:hover
{
    height: 26px;
    background-color: #ff5a5f; 
    border-radius: 4px; 
    transform: scale(1.1);
}

.navbar button:hover
{
    background-color: #ff5a5f; 
    border-radius: 4px; 
    transform: scale(1.1);
}

.txt{
  margin-left: 10px;
}


.icons
{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}
.C1
{
    height: 35px;
    width: 35px;
}
.icons button 
{
    color: black; 
    text-decoration: none; 
    font-size: 18px;
    padding: 10px 15px;
    border: none;
    background-color: #ffffff; 
    
}

.icons button:hover 
{
    background-color: #ff5a5f; 
    border-radius: 5px; 
}

.content
{   
    margin-bottom: 20px; 
    width: 1268px;
}
.content-wrapper{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.content-box
{
    margin-left: 100px;
    font-size: 24px;
    color: white; 
    background-color: #333;
    width: 800px;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    box-shadow: #333;
}
.slideshow-container
{
    padding: 2rem;
}
.slideshow-wrapper
{
  position: relative;
  max-width: 48rem;
  height: auto;
}
.slideshow-images
{
    width: 700px;
    margin-left: 150px;
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 5px;
}
.slideshow-images img
{
    scroll-snap-align: center;
}
p 
{
    margin: 10px 0; 
    text-align: center; 
}

p a 
{
    color: #ff5a5f; 
    text-decoration: none; 
}

p a:hover 
{
    text-decoration: underline; 
}

.home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px 20px;
    background: fixed;
    background-image: url("https://miro.medium.com/v2/resize:fit:5120/1*42ebJizcUtZBNIZPmmMZ5Q.jpeg"); 
    color: #ffffff;
    width: auto;
    
}


.btn { 
    background-color: red;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
}

.btn:hover {
    background-color: #ff3b3f;
    cursor: pointer;
    box-shadow: 2px 1px 5px grey;
}


.home .icon-container {
    background-color: #333333;
    margin-bottom: 10px;
}


.icon-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
}
.icon-item{
    margin: 10px;
    padding: 20px;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon-item i{
    color: #ff5a5f;
    font-size: 22px;
}
.icon-content{
    color: #ffffff;
    font-size: 18px;
    text-align: center;
}

.features {
    padding: 50px 0;
    background-color: #444444;   
    color: #ffffff;
}

.features .heading {
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
    color: #ff5a5f;
}


.featured-slider {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* Styling for the .box */
.featured-slider .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  color: #333;
  border-radius: 10px;
  padding: 20px;
  margin: 15px;
  max-height: 550px;
  width: 270px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  justify-content: space-between;
  transition: transform 0.3s;
}

.featured-slider .box:hover {
  transform: translateY(-10px);
}
 /* Styling for the icons section */
 .featured-slider .icons {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
  }

  .featured-slider .icons a {
    color: #333;
    margin: 0 5px;
    font-size: 18px;
    transition: background-color 0.3s, transform 0.3s;
  }

  .featured-slider .icons a:hover {
    background-color: #ff5a5f;
    color: #fff;
    border-radius: 50%;
    transform: scale(1.1);
  }

  .featured-slider img {
    height: 380px;
    width: 250px;
    border-radius: 10px;
    margin-bottom: 10px;
  }


  .book-name {
    margin-top: 5px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }


  .featured-slider .price {
    font-size: 16px;
    color: #ff5a5f;
    margin-bottom: 18px;
    text-align: center;
  }

  .price span {
    text-decoration: line-through;
    color: #999;
    margin-left: 10px;
  }

  .qr-code {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 8px;
      background: #fff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      display: none;
      z-index: 100;
      text-align: center;    
      margin-top: 10px;

    }

    .qr-code img {
      max-width: 100%;
          height: auto;
    }

  .add-to-cart {
    background-color: #ff5a5f;
    color: #ffffff;
    padding: 10px 20px;
    border:none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    height: 40px;
    width: 150px;
    margin-bottom: 20px;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .add-to-cart:hover {
    background-color: #ff3b3f;
    cursor: pointer;
  }



  .shopping-cart {
    position: fixed;
    top: 0;
    right: -400px; 
    width: 400px;
    height: 100%;
    background-color: #ffffff;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: right 0.3s;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 20px;
  }

  .shopping-cart.active {
    right: 0; 
  }




